.contact {
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    border: 2px solid var(--main-color);
    margin: .5rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}